fastapi
uvicorn
pdf2image
langchain
langchain-community
langchain-core
dotenv
pydantic
pypdfium2
langchain-classic
openai
python-multipart
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddlepaddle==3.2.2
paddleocr==3.3.2
faiss-cpu